@import "tailwindcss";
@import "tw-animate-css";
 
/* @custom-variant dark (&:is(.dark *)); */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
  box-sizing: border-box;
  outline: none;
}

:root {
  font-family: var(--ubuntu), Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --ubuntu: "Ubuntu", sans-serif;

  --custom-light: #F5F5F5;
  --custom-dark: #1E1E1E;

  --allbuy-blue-1: #0066c7;
  --allbuy-blue-2: #008bfa;

  --allbuy-gradient: linear-gradient(90deg, var(--allbuy-blue-1) 0%, var(--allbuy-blue-2) 100%);

  color-scheme: light dark;
  color: var(--custom-light);
  background-color: var(--custom-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --animate-sheetslide: sheetslide .5s ease-out;

  --font-ubuntu: var(--ubuntu);

  --color-light: var(--custom-light);
  --color-dark: var(--custom-dark);
  --color-allbuy-blue-1: var(--allbuy-blue-1);
  --color-allbuy-blue-2: var(--allbuy-blue-2);
}

@keyframes sheetslide {
  from {
    transform: translateX(-100%)
  }
  to {
    transform: 0;
  }
}

.allbuyGradientText {
  background-image: var(--allbuy-gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobileDisplay {
  display: none;
}

@media (width >= 48rem) {
  .mobileDisplay {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--custom-dark);
    background-color: var(--custom-light);
  }
}